.result-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  .title {
    color: #312d3f;
    .first-word {
      color: #d65b47;
    }
  }
  .sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #d65b47;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      background: #c7e3f8;
      box-shadow: inset -4px -3px 4px rgba(255, 255, 255, 0.25),
        inset 3px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 4px 14px;
    }
  }
}
