.main-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    .initial-inputs {
        max-width: 80%;

        .form-control {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            .input {
                width: 50%;
            }
        }

        .back-button-wrapper {
            .back-button {
                span {
                    background-image: url('../../../Assets/arrow-go-back-line.svg');
                    width: 10px;
                    display: block;
                    height: 10px;
                }
            }
        }
    }
}