$breakpoint-small: 768px;
$breakpoint-mobile: 520px;

*::before,
*::after {
  box-sizing: border-box;
}

.required {
  color: red;
}

.main-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  @media screen and (max-width: $breakpoint-small) {
    grid-row: 2/3;
    align-content: center;
    width: 100%;
    place-self: center;
    grid-column: 1/2;
  }

  .initial-inputs {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media screen and (max-width: $breakpoint-small) {
      place-self: center;
    }

    fieldset {
      display: flex;
      padding: 0;
      column-gap: 30px;
      border: 0;

      legend {
        color: #d65b47;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        .tooltip {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-left: 5px;
          background-image: url("../../../Assets/QuestionMark.svg");
          background-size: cover;
          cursor: pointer;
          position: relative;
        }
        :hover::after {
          content: "ASAP - app generates the fastest possible schedule to complete the given task. EQUAL - app equally distributes your free time to complete the given task";
          position: absolute;
          text-transform: none;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          padding: 5px;
          background-color: #f2f2f2;
          border: 1px solid #ccc;
          border-radius: 5px;
          white-space: nowrap;
          z-index: 10;
          white-space: normal;
          word-wrap: break-word;
          width: 250px;
        }
      }

      .form-control {
        flex-direction: row;

        label {
          font-weight: 700;
          font-size: 15px;
          line-height: 18px;
          color: #312d3f;
        }

        input {
          accent-color: #d65b47;
        }
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: center;
      @media screen and (max-width: $breakpoint-small) {
        flex-direction: column-reverse;
        row-gap: 25px;
      }

      button {
        background: linear-gradient(90deg, #d65b47 0%, #ff7c6e 100%);
        box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: 0;
        padding: 8px 63px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.11em;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  .busy-inputs-wrapper {
    max-width: 100%;
  }
}
