.title-wrapper {
    text-align: center;

    .main-title {
        color: #D65B47;
        font-size: 37px;
        font-weight: 700;
    }

    .sub-title {
        font-weight: 400;
        font-size: 25px;
        color: #7396C0;
    }
}